body{
    background-image: linear-gradient(orange, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-top: 10px;
    margin-bottom: -0px;
}
/*  */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li{
    float: left;
    border-right: 1px solid white;
}

li a:hover:not(.active) {
    background-color: #111;
  }
.active{
    background-color: dodgerblue;
}
#pop-song-container{
    background-color: dodgerblue;
    border: 5px solid #333;
    margin-top: 20px;
}
#pop-song-container h2{
    text-align: center;
    text-shadow: 1px 1px white;
}
.a-line{
    height: 5px;
    background-color: #333;
    border: none;
    width: 95%;
}
.pop-album-container{
    border: 5px solid #333;
    margin-top: 20px;
    background-color: dodgerblue;
}
.pop-album-container h2{
    text-align: center;
    text-shadow: 1px 1px white;
}
.footer{
    float: left;
    background-color: dodgerblue;
    border: 5px solid #333;
    margin-top: 150px;
}
.fav-song-container{
    background-color: dodgerblue;
    border: 5px solid #333;
    margin-top: 20px;
}
.fav-song-container h2{
    text-shadow: 1px 1px white;
}

#special-image{
    height: 300px;
}
#audio-container1{
    margin-top: 5%;
    background-color: dodgerblue;
    border: 5px solid #333;
}
#audio-container1 h2{
    text-align: center;
    text-shadow: 1px 1px white;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-box2{
    display: flex;
    justify-content: space-between;
}
.audio-container2{
    margin-top: 5%;
    /* width: 30%; */
    background-color: dodgerblue;
    border: 5px solid #333;
}
.audio-container2 h2{
    text-align: center;
    text-shadow: 1px 1px white;
}
.audio-container3{
    margin-top: 5%;
    /* width: 30%; */
    background-color: dodgerblue;
    border: 5px solid #333;
}
.audio-container3 h2{
    text-align: center;
    text-shadow: 1px 1px white;
}

#alb-img{
    width: 95%;
}









@media only screen and (max-width:1000px) {
    .flex-box{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .flex-box2{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
  }